{% extends 'base.html' %} 

{% load humanize %}

{% block title %}
    {{ bord.name }} - {{ block.super }}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrump-item"><a href="{% url 'home' %}">Bords</a>  </li>
    <li class="breadcrump-item active"> / {{ bord.name }}</li>          
{% endblock breadcrumb %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_topic' bord.pk %}" class="btn btn-primary">New topic</a>
  </div> 
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td><a href="{% url 'topic_posts' bord.pk topic.pk %}">{{ topic.subject }}</a></td>
          <td>{{ topic.starter.username }}</td>
          <td>{{ topic.replies }}</td>
          <td>{{ topic.views }}</td>
          <td>{{ topic.last_update|naturaltime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "includes/pagination.html" %}

{% endblock %}

